extends layout

block content
    .row
        .col-lg-8
            .card.bg-light.mb-3
                .card-header Main
                .card-body
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum quos tempore reprehenderit eligendi quibusdam quo facilis eveniet porro vero! Deleniti voluptate itaque quibusdam, similique provident quod. Quisquam praesentium sunt animi?
        .col-lg-4
            .card.bg-light.mb-3
                .card-header Sidebar
                .card-body
                    ul#users
                    #playersStatus.text-center {players.count} players online